body {
  padding: 20px;
  font-family: sans-serif;
}

div,
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 30px;
  margin-top: 0;
}

.layout,
.header,
.article,
.footer,
.bodytext {
  color: #ddd;
  border: 1px solid currentColor;
}

.article,
.header,
.footer {
  color: #999;
  border-color: currentColor;
  margin: 30px;
  padding: 30px;
}

.bodytext {
  color: blue;
  padding: 20px;
  margin: 20px 0;
}
